<!DOCTYPE html>
<head>
  <title>Mine Sweeper</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>
  <h2>Mine Sweeper Game Board</h2>
  <div id="app">
    <div v-for="(mineArrRow, rowX) in mineArr" :key="rowX" id="row">
      <div v-for="(item, colX) in mineArrRow" :key="colX" id="col">
        <span
          ><button
            class="cell"
            @click="click(rowX, colX)"
            @click.right="flag(rowX, colX)"
          >
            <!-- release mode -->
            <!-- <div v-if="visibilityArr[rowX][colX]" id="text"> -->
            <!-- debug mode -->
            <div id="text">
              {{item}}
            </div>
          </button></span
        >
      </div>
    </div>
    <div class="ctl">
      <button @click="initMine" v-if="gameStatus == 'idle'">Start</button>
      <button @click="resetBoard">reset</button>
    </div>
    <div id="notification"><h3>{{gameStatus}}</h3></div>
  </div>
</body>

<script>
  let app = new Vue({
    el: "#app",
    data: {
      ncol: 10,
      nrow: 10,
      nMine: 10,
      mineArr: [],
      mineCoordArr: [],
      visibilityArr: [],
      cellLabel: "?",
      gameStatus: "idle",
      flagDict: {},
      // win: false,
    },
    methods: {
      click: function (r, c) {
        console.log("clicked " + r + " " + c);
        this.visibilityArr[r].splice([c], 1, true);
        console.log(this.visibilityArr);
        if (this.mineArr[r][c] == "*") {
          this.gameStatus = "GG......";
        }
        this.checkWin()
      },
      flag: function (r, c) {
        if (this.mineArr[r][c] == "F") {
          this.visibilityArr[r].splice([c], 1, false);
          this.mineArr[r].splice([c], 1, this.flagDict[r.toString() + c]);
        } else {
          this.visibilityArr[r].splice([c], 1, true);
          this.flagDict[r.toString() + c] = this.mineArr[r][c];
          this.mineArr[r].splice([c], 1, "F");
        }
        console.log(this.flagDict);
        this.checkWin()
      },
      initMine: function () {
        console.log("clicked init mine");
        let count = this.ncol * this.nrow;
        let originalArray = new Array();
        for (let i = 0; i < count; i++) {
          originalArray[i] = i;
        }
        originalArray.sort(function () {
          return 0.5 - Math.random();
        });
        for (let i = 0; i < this.nMine; i++) {
          position = originalArray[i];
          coordX = position % this.ncol;
          coordY = parseInt(position / this.ncol);
          console.log("Mine at position (" + coordX + ", " + coordY + ")");
          // @TODO: Why doesn't work
          // app.$set(this.mineArr, "*", this.mineArr[coordY][coordX]);
          this.mineArr[coordY].splice([coordX], 1, "*");
          this.mineCoordArr.push([coordX, coordY]);
        }
        console.log(this.mineCoordArr);
        this.setBoard();
      },
      setBoard() {
        for (let index = 0; index < this.mineCoordArr.length; index++) {
          coordEach = this.mineCoordArr[index];
          coordSurrounding = [
            [coordEach[0], coordEach[1] + 1],
            [coordEach[0] + 1, coordEach[1]],
            [coordEach[0], coordEach[1] - 1],
            [coordEach[0] - 1, coordEach[1]],
            [coordEach[0] + 1, coordEach[1] + 1],
            [coordEach[0] + 1, coordEach[1] - 1],
            [coordEach[0] - 1, coordEach[1] + 1],
            [coordEach[0] - 1, coordEach[1] - 1],
          ];
          coordSurroundingSelect = [];
          for (let index = 0; index < coordSurrounding.length; index++) {
            if (
              0 <= coordSurrounding[index][0] &&
              coordSurrounding[index][0] < this.ncol &&
              0 <= coordSurrounding[index][1] &&
              coordSurrounding[index][1] < this.nrow &&
              this.mineArr[coordSurrounding[index][1]][
                coordSurrounding[index][0]
              ] != "*"
            ) {
              coordSurroundingSelect.push(coordSurrounding[index]);
              this.mineArr[coordSurrounding[index][1]][
                coordSurrounding[index][0]
              ]++;
            }
          }
        }
        this.gameStatus = "continue";
      },
      initArr() {
        for (let indexR = 0; indexR < this.nrow; indexR++) {
          rowArr = [];
          visRow = [];
          for (let indexC = 0; indexC < this.ncol; indexC++) {
            rowArr.push(0);
            visRow.push(false);
          }
          //   console.log(rowArr);
          this.mineArr.push(rowArr);
          this.visibilityArr.push(visRow);
        }
        console.log(this.mineArr);
        console.log(this.visibilityArr);
      },
      resetBoard() {
        this.mineArr = [];
        this.mineCoordArr = [];
        this.visibilityArr = [];
        this.gameStatus = "idle";
        this.initArr();
        // this.setBoard();
      },
      checkWin() {
        let win = true;
        let flagCount = 0;
        for (let indexR = 0; indexR < this.nrow; indexR++) {
          for (let indexC = 0; indexC < this.ncol; indexC++) {
            if (this.mineArr[indexR][indexC] == "F") {
              flagCount ++;
            }
            if (this.mineArr[indexR][indexC] == "*") {
              win = false;
            }
          }
        }
        console.log(flagCount);
        if (flagCount != this.nMine) {
          win = false
        }
        if (win) {
          this.gameStatus = "You Win"
        }
      },
    },
    created() {
      this.initArr();
    },
  });
</script>

<style>
  .cell {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 1px;
    text-align: center;
  }
  .ctl {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #row {
    display: flex;
    justify-content: center;
  }
  button {
    display: flex;
    width: 50px;
    margin: 1px;
    justify-content: center;
  }
  #text {
    display: flex;
    align-self: center;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  #notification {
    display: flex;
    justify-content: center;
  }
</style>
